<% /* file: views/partials/content-flash.ejs          */ %>
<% /* project: YelpCamp                               */ %>
<% /* developer: David Schenck                        *. %>
<% /*     <zero2cx @ gmail com>                       */ %>
<% /* original author & project design: Colt Steele   */ %>
<% /*     <www facebook com colt.steele>              */ %>
<% /* project refactor: Ian Schoonover                */ %>
<% /*     <plus google com/u/0/117096754871952321821> */ %>
<% /* license: ISC                                    */ %>

    <div class="container">
<% if(error && error.length > 0) { %>
      <div class="alert alert-danger"><%= error %></div>
<% } %>
<% if(success && success.length > 0) { %>
      <div class="alert alert-success"><%= success %></div>
<% } %>
    </div><!-- container -->
