<% /* file: views/comments/edit.ejs                   */ %>
<% /* project: YelpCamp                               */ %>
<% /* developer: David Schenck                        *. %>
<% /*     <zero2cx @ gmail com>                       */ %>
<% /* original author & project design: Colt Steele   */ %>
<% /*     <www facebook com colt.steele>              */ %>
<% /* project refactor: Ian Schoonover                */ %>
<% /*     <plus google com/u/0/117096754871952321821> */ %>
<% /* license: ISC                                    */ %>

<% include ../partials/page-header %>
<% include ../partials/content-navbar %>
<% include ../partials/content-flash %>

    <div class="container">
      <div class="row">

        <h1 style="text-align: center;">Edit Comment</h1>

        <div style="width: 30%; margin: 20px auto;">

          <form name="edit_comment" action="/campgrounds/<%= campgroundId %>/comments/<%= comment._id %>?_method=PUT" method="POST">

            <div class="form-group">
              <input class="form-control" type="text" name="comment[text]" value="<%= comment.text %>">
            </div><!-- /form-group -->

            <div class="form-group">
              <button class="btn btn-lg btn-primary btn-default btn-block">submit</button>
            </div><!-- /form-group -->

          </form><!-- /edit_comment -->

          <a href="/campgrounds">cancel</a>

        </div><!-- /style="" -->

      </div><!-- /row -->
    </div><!-- /container -->

<% include ../partials/page-footer %>
