<h1>campgrounds page</h1>

<ul>
  <% campgrounds.forEach(function(campground){ %>
    <div>
      <h4><%= campground.name %></h4>
      <img src="<%= campground.image %>">
    </div>
  <% }); %>
</ul>
