<% include partials/header %>

    <h1>create a new campground</h1>

    <form action="/campgrounds" method="post">
      <input type="text" name="name" placeholder="name">
      <input type="text" name="image" placeholder="image url">
      <button>submit</button>
      <a href="/campgrounds">cancel</a>
    </form>

<% include partials/header %>
