<% /* file: views/campgrounds/index.ejs               */ %>
<% /* project: YelpCamp                               */ %>
<% /* developer: David Schenck                        *. %>
<% /*     <zero2cx @ gmail com>                       */ %>
<% /* original author & project design: Colt Steele   */ %>
<% /*     <www facebook com colt.steele>              */ %>
<% /* project refactor: Ian Schoonover                */ %>
<% /*     <plus google com/u/0/117096754871952321821> */ %>
<% /* license: ISC                                    */ %>

<% include ../partials/page-header %>
<% include ../partials/content-navbar %>
<% include ../partials/content-flash %>

    <div class="container">
      <header class="jumbotron"><!-- JUMBOTRON -->
        <div class="container">

          <h1>Welcome to YelpCamp!</h1>
          <p>Hand-picked campgrounds from all over the world</p>
          <p><a class="btn btn-primary btn-lg" href="/campgrounds/new">add a new campground</a></p>

        </div><!-- /container -->
      </header><!-- /jumbotron -->

      <div class="row"><!-- SECTION TITLE -->
        <div class="col-lg-12">
          <h3>Our Most Popular Sites</h3>
        </div><!-- /col -->
      </div><!-- /row -->

      <div class="row text-center" style="display: flex; flex-wrap: wrap;"><!-- CAMPGROUND ITEM -->
<% campgrounds.forEach(function(campground){ %>
        <div class="col-md-3 col-sm-6">
          <div class="thumbnail">
            <img src="<%= campground.image %>">
            <div class="caption">
              <h4><%= campground.name %></h4>
            </div><!-- /caption -->
            <p><a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a></p>
          </div><!-- /thumbnail -->
        </div><!-- /col -->
<% }); %><!-- /forEach() -->
      </div><!-- /row -->
    </div><!-- /container -->

<% include ../partials/page-footer %>
