<% /* file: views/campgrounds/new.ejs                 */ %>
<% /* project: YelpCamp                               */ %>
<% /* developer: David Schenck <zero2cx @ gmail com>  */ %>
<% /* original author & project design:               */ %>
<% /*     Colt Steele <www facebook com colt.steele>  */ %>
<% /* license: ISC                                    */ %>

<% include ../partials/page-header %>
<% include ../partials/content-navbar %>
<% include ../partials/content-flash %>

<div class="form-container">

  <div id="popup-dialog">

    <div class="form-row">
      <a id="popup-cancel" class="form-button">cancel</a>
      <a id="popup-done" class="form-button">done</a>
    </div><!-- form-row -->

    <div class="form-row">
      <i id="popup-no-pic" class="fa fa-picture-o popup-thumbnail"></i>
      <img id="popup-pic" class="popup-thumbnail">
    </div><!-- form-row -->

    <div class="form-row">
      <div class="form-group">
        <input type="text" id="popup-url" class="form-control" placeholder="image url" value="" onclick="javascript:this.select()">
      </div><!-- form-group -->
    </div><!-- form-row -->

  </div><!-- popup-dialog -->

  <div class="form-row">
    <p class="form-title">new campground</p>
  </div><!-- form-row -->

  <form name="new_campground" action="/campgrounds" method="POST">

  <div class="form-row">
    <div class="col-xs-7 no-pad-left no-pad-right">

      <div class="form-group">
        <input type="text" class="form-control" name="campground[name]" placeholder="campground name">
      </div><!-- form-group -->

      <div class="form-group">
        <div class="input-group">
          <input type="number" class="form-control" name="campground[price]" placeholder="price" min="0.01" step="0.01" onInput="javascript:this.value=parseFloat(this.value).toFixed(2)">
          <div class="input-group-btn">
            <button type="button" id="rent-cycle" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              nightly
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><a href="javascript:perNight()">nightly</a></li>
              <li><a href="javascript:perWeek()">weekly</a></li>
            </ul>
          </div><!-- input-group-btn -->
        </div><!-- input-group -->
      </div><!-- form-group -->
    </div><!-- col -->

    <div class="col-xs-5 no-pad-right">
      <div class="form-group">
        <i id="thumb-no-pic" class="fa fa-picture-o form-control form-thumbnail" aria-hidden="true"></i>
        <img id="thumb-pic" class="form-control form-thumbnail" src="" alt="">
      </div><!-- form-group -->
    </div><!-- col -->
  </div><!-- form-row -->

  <div class="form-row">
    <div class="form-group">
      <textarea class="form-control" placeholder="description" name="campground[description]"></textarea>
    </div><!-- form-group -->
  </div><!-- form-row -->

  <div class="form-row">
    <div class="form-group">
      <div class="col-xs-6 text-center">
        <a id="form-cancel" class="form-button" href="/campgrounds">cancel</span>
      </div><!-- col -->
      <div class="col-xs-6">
        <a id="form-done" class="form-button" href="javascript:document.new_campground.submit()">done</span>
      </div><!-- col -->
    </div><!-- form-group -->
  </div><!-- form-row -->

  <input id="submit-rent-cycle" type="hidden" name="campground[rent_cycle]" value="night"></input>
  <input id="submit-pic" type="hidden" name="campground[image]" value=""></input>

  </form>

</div><!-- form-container -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/js/campground_form.js"></script>

<% include ../partials/page-footer %>
