<% /* file: views/user/login.ejs                      */ %>
<% /* project: YelpCamp                               */ %>
<% /* developer: David Schenck <zero2cx @ gmail com>  */ %>
<% /* original author & project design:               */ %>
<% /*     Colt Steele <www facebook com colt.steele>  */ %>
<% /* license: ISC                                    */ %>

<% include ../partials/page-header %>
<% include ../partials/content-navbar %>
<% include ../partials/content-flash %>

<h1>login form</h1>

<form action="/user/login" method="POST">
  <input type="text" name="username" placeholder="username">
  <input type="password" name="password" placeholder="password">
  <button>Submit</button>
</form>

<% include ../partials/page-footer %>
