<% /* file: views/user/register.ejs                   */ %>
<% /* project: YelpCamp                               */ %>
<% /* developer: David Schenck                        *. %>
<% /*     <zero2cx @ gmail com>                       */ %>
<% /* original author & project design: Colt Steele   */ %>
<% /*     <www facebook com colt.steele>              */ %>
<% /* project refactor: Ian Schoonover                */ %>
<% /*     <plus google com/u/0/117096754871952321821> */ %>
<% /* license: ISC                                    */ %>

<% include ../partials/page-header %>
<% include ../partials/content-navbar %>
<% include ../partials/content-flash %>

    <div class="container">
      <div class="row">
        <h1 style="text-align: center">registration form</h1>
        <div style="width: 30%; margin: 25px auto;">

          <form name="registration_form" action="/user/register" method="POST">

            <div class="form-group">
              <input class="form-control" type="text" name="username" placeholder="username">
            </div><!-- /form-group -->

            <div class="form-group">
              <input class="form-control" type="password" name="password" placeholder="password">
            </div><!-- /form-group -->

            <div class="form-group">
              <button class="btn btn-lg btn-primary btn-block">submit</button>
            </div><!-- /form-group -->

          </form><!-- /registration form -->

          <a href="/campgrounds">cancel</a>

        </div><!-- /style="" -->
      </div><!-- /row -->
    </div><!-- /container -->


      <!--<h1>registration form</h1>-->

      <!--<form name="register_user" action="/user/register" method="POST">-->

      <!--  <input type="text" name="username" placeholder="username">-->
      <!--  <input type="password" name="password" placeholder="password">-->
      <!--  <button>Submit</button>-->

      <!--</form>-->
<!-- /register_user -->

<% include ../partials/page-footer %>
