.thumbnail {
  padding: 0;
}
.thumbnail img {
  width: 100%;
}
.thumbnail .caption-full {
  padding: 9px;
}
.delete-form {
  display: inline;
}
.jumbotron {
  color: #00a0a0;
  background-color: #004020;
}